<div style="padding-left: 70px" >
    <div class="col-md-3" >
    <div class="card">

        <div class="container">
          <h4><b>USERS</b></h4>
          <p>{{users}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3" >
        <div class="card">

            <div class="container">
              <h4><b>TARDY</b></h4>
              <p>{{tardy}}</p>
            </div>
          </div>
        </div>
    <div class="col-md-3">
        <div class="card">

          <div class="container">
            <h4><b>PUNCTUAL</b></h4>
            <p>{{Punctuality}}</p>
          </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">

            <div class="container">
              <h4><b>ABSENTEE</b></h4>
              <p>{{absentee}}</p>
            </div>
          </div>
    </div>

    </div>

