
<div >
  <!-- <select><option >{{data1}}</option></select> -->
<div  class='panel panel-primary' >
  <div class='panel-heading'>
  <!-- {{pageTitle}} -->
  </div>

  <div class='panel-body'>
  <div class='row'>

  <div class='col-md-4'>

  </div>
  </div>
  <div class='row'>
  <div class='col-md-6'>

  </div>
  </div>
  <br>
  <div class='table-responsive'>
  <table class="table table-dark">
  <tbody>
  <tr>
    <th>Employee Id</th>
    <td>{{ data.employeeId }}</td>
  </tr>
  <tr>
  <th>FirstName</th>
  <td>{{ data.firstname }}</td>
</tr>
<tr>
  <th>LastName</th>
  <td>{{data.lastname}}</td>
</tr>
<tr>
  <th>Role</th>
  <td>{{data.role}}</td>
</tr>
<tr>
  <th>Edit</th>
  <td>  <button class="btn btn-outline-primary btn-sm" routerLink="/edit">

      Edit
      </button></td>

  </tr>



  </tbody>
  </table>
  </div>
  </div>
  </div>
</div>

