<body>
    <div id="login">
        <div  class="container">
          <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
              <div id="login-box" class="col-md-12">
<div >
  <!-- <select><option >{{data1}}</option></select> -->
<div  class='panel panel-primary' >


  <div class='panel-body'>

  <div class='row'>
  <div class='col-md-6'>

  </div>
  </div>
  <br>

  <table style="max-width: 600px" class="table ">
  <tbody>
  <tr>
    <th>Employee Id</th>
    <td>{{ data.employeeId }}</td>
  </tr>
  <tr>
  <th>FirstName</th>
  <td>{{ data.firstname }}</td>
</tr>
<tr>
  <th>LastName</th>
  <td>{{data.lastname}}</td>
</tr>
<tr>
  <th>Role</th>
  <td>{{data.role}}</td>
</tr>
<tr>
  <th>Edit</th>
  <td>  <button class="btn btn-outline-primary btn-sm" routerLink="/edit">

      Edit
      </button></td>

  </tr>



  </tbody>
  </table>

  </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</body>


